
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#map {
    position: absolute;
    top: 75px;
    bottom: 0px;
    width: 100%;
}

#header {
    position: flex;
    top: 0;
    height: 75px;
    width: 100%;
    background: whitesmoke;
}

#title {
    display: inline-block;
    padding: 20px 0px 20px 10px;
    font-size: 28px;
}

#footer {
    position: absolute;
    height: 80px;
    bottom: 0;
    width: 100%;
    background: whitesmoke;
}

#keyTitle {
    background: #2c2c2c;
    height: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    box-sizing: border-box;
    padding: 6px;
    font-size: 13px;
}

#key {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

.keyEle {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    flex-grow: 1;
    box-sizing: border-box;
    height: 50px;
    width: 300px;
}

.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0px
}

.modal {
    position: relative;
    margin: 0 auto;
    z-index: 10;
    padding: 10px;
}

#info-icon {
    float: right;
    cursor: pointer;
    color: #444;
    padding: 17px 4px 17px 4px;
}

#info-box {
    background-color: #2c2c2c;
    top: 100px;
    width: 60%;
}

#info-box {
    color: white;
    font-size: 14px;
}

#info-box a {
    color: white;
}

#info-box a:hover {
    color: #000;
}

#legend-icon-container {
    width: fit-content;
    float: right;
    cursor: pointer;
    padding: 17px 8px 17px 8px;
}

#legend-icon-container > i {
    cursor: pointer;
}

#legend-box {
    width: fit-content;
    height: fit-content;
    background-color: gray;
    font-size: 16px;
    top: 150px;
}

#legend-box td {
    padding-bottom: 10px;
    padding-left: 10px;
}

#legend-box .legend-checkbox{
    transform: scale(1.5);
    margin-right: 20px;
    cursor: pointer;
}

.mapboxgl-ctrl-directions {
    display: none;
}

#direction-buttons {
    position: relative;
    z-index: 5;
    margin-top: 95px;
    margin-left: 200px;
    width: fit-content;
}

#show-directions-container {
    position: relative;
    z-index: 5;
    margin: 30px;
    width: fit-content;
}

#existing {
    background: #eee;
    color: black;
}

#greenways {
    background: #28B463;
}

#programmed {
    background: #3498DB;
}

#citrix {
    background: #f9423a;
}

.mapboxgl-ctrl-group > button{
    width: 40px !important;
    height: 40px !important;
}

.mapboxgl-ctrl-geolocate > button{
    width: 40px !important;
    height: 40px !important;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group {
    margin: 0 30px 30px 0 !important;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 30px 30px 0 0 !important;
}

.greenway-legend {
    stroke: #28B463;
    stroke-width: 8;
    padding-top: 5px;
}


.greenway-detour-legend {
    stroke: yellow;
    stroke-width: 8;
    padding-top: 5px;
}

.existing-legend {
    stroke: #eee;
    stroke-width: 8;
    padding-top: 5px;
}

.programmed-legend {
    stroke: #3498DB;
    stroke-width: 8;
    padding-top: 5px;
}

/* Meterial Icons Styles */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}